.square {
  margin-bottom: 3px;
  margin-right: 3px;
  width: 150px;
  height: 150px;
  background-color: #ff7030;

  display: flex;
  justify-content: center;
  align-items: center;

  .letter {
    color: antiquewhite;
    font-size: 75px;
  }
}