.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  .game {
    input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      font-size: x-large;
    }

    .container-b {
      display: flex;

      .grid-wrapper {
        .grid-container {
          display: grid;

          .grid {
            grid-column: 1;
            grid-row: 1;
          }
        }
      }
    }
  }
  .post-game {
    .container-b {
      display: flex;
      flex-direction: row;
    }
  }
}


